@model IEnumerable<Main.Class.TipoOrganizadorClass>

@{
    ViewData["Title"] = "Orgaizadores - Registar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label text-center">
            <h3 class="kt-portlet__head-title">

                <text>Registar Organizador</text>
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-group d-flex gap-2">
                <button onclick="cancel()" id="cancelarButton" class="btn btn-secondary">Cancelar</button>
                <button onclick="concluir()" id="gravarButton" class="btn btn-outline-accent">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 d-flex flex-column gap-3">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label text-center">
                    <h3 class="kt-portlet__head-title">
                        Informações
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-section kt-section--first">
                    <div class="form-group">
                        <label>Nome <span class="text-danger">*</span>:</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome">
                        <span class="form-text text-muted">Introduza o Nome.</span>
                    </div>
                    <div class="form-group">
                        <label>Localidade <span class="text-danger">*</span>:</label>
                        <input type="email" class="form-control" id="localidade" placeholder="Localidade">
                        <span class="form-text text-muted">Introduza Localidade.</span>
                    </div>
                    <div class="form-group">
                        <label>Nif <span class="text-danger">*</span>:</label>
                        <input type="text" class="form-control" id="nif" placeholder="Nif">
                        <span class="form-text text-muted">Introduza Nif.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 d-flex flex-column gap-3">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label text-center">
                    <h3 class="kt-portlet__head-title">
                        Detalhes
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-section kt-section--first">
                    <div class="form-group">
                        <label>Tipo <span class="text-danger">*</span>:</label>
                        <div>
                            <div class="d-flex align-items-center mb-2" id="selectGroup3">

                                <select class="form-control" id="tipo">
                                    <option value="">Selecione um tipo</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.Id">
                                            @item.Descricao
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <span class="form-text text-muted">Selecione o tipo.</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/Organizador.js"></script>
